[user]
	email = dmitriy@tadyshev.com
	name = Dmitriy Tadyshev
	signingkey = 3762F98A01D3E704C1CCCF5F2605552C1DF82E49
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[commit]
	gpgsign = true
